---
import AboutHeroImage from '../assets/blog-placeholder-about.jpg';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
  title="About"
  description="Harlequin Forest の編集方針とレビューの作り方"
  pubDate={new Date('January 23 2026')}
  heroImage={AboutHeroImage}
>
  <p>備忘録</p>
</Layout>
